body{
    background-color: lightgray;
    margin: 0;
    padding: 30px 5px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
header{
    width: 100%;
    background-color: rgb(139, 3, 3);
    height: 100px;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.logo{
    margin-top: 0;
    text-shadow: 50%;
}
ul{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    gap: 20px;
    color: plum;
}
ul li {
    text-decoration: none;
    color: rgb(255, 255, 255);
    justify-content: center;
    list-style: none;
}
h2, h3{
    color: rgb(65, 37, 97);
    text-align: justify;
}